.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #28a745;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100px;
  height: auto;
  background-color: white;
}
